@model LessonsListViewModel

@{ 
    var parms = new Dictionary<string, string>
    {
        { "semesterId", Model.SemesterId.ToString() },
        { "departmentId", Model.DepartmentId.ToString() }
    };
}

<div class="list-view-wrapper">
    <div class="list-container">
        <ul class="aca-collection">
            @{var rowClass = Model.IsWithSubtitles ? "" : "item-small";}

            @foreach (var lesson in @Model.Items)
            {
                <li class="aca-collection-item path-list-item">
                    <a class="item-link @rowClass">
                        <span class="path-list-item-title">@lesson.TitleOrFullName</span>
                        <br>
                        @if (Model.IsWithSubtitles)
                        {
                            <span class="path-list-item-subtitle">@lesson.SubtitleOrAbbreviation</span>
                        }
                    </a>

                    <div class="icons-row-container">
                        <a asp-action="Edit" asp-route-lessonId="@lesson.Id" class="tooltipped" data-position="top" data-tooltip="Edytuj">
                            <i class="material-icons list-icon icon-edit">edit</i>
                        </a>
                        <a asp-action="Delete" asp-route-lessonId="@lesson.Id" class="tooltipped" data-position="top" data-tooltip="Usuń">
                            <i class="material-icons list-icon icon-delete">delete</i>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
    <a asp-action="Add" asp-all-route-data="@parms" class="add-button">
        Dodaj
    </a>
</div>