@addTagHelper *, acaShare.MVC.Areas.Main.ViewComponents.SidebarViewComponent
@using acaShare.BLL.Models
@model SidebarViewModel

<div class="col s12 m4 l3 right-side-bar">
    <ul id="tabs-swipe-demo" class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test-swipe-1">Ulubione</a></li>
        @if (Model.Comments != null)
        {
            <li class="tab"><a href="#test-swipe-2">Ostatnia aktywność</a></li>
            <li class="tab"><a class="active" href="#test-swipe-3">Komentarze</a></li>
        }
        else
        {
            <li class="tab"><a class="active" href="#test-swipe-2">Ostatnia aktywność</a></li>
        }
    </ul>

    <div id="test-swipe-1" class="favourites-wrapper">
        @if (Model.Favourites.Count == 0)
        {
            <div class="no-content">~ Brak ulubionych ~</div>
        }
        else
        {
            @foreach (var favouriteMaterial in Model.Favourites)
            {
                <a asp-area="Main" asp-controller="Materials" asp-action="Material" asp-route-materialId="@favouriteMaterial.RouteValue" class="favourites-link">
                    <div class="last-activity-wrapper">
                        <div class="last-activities-content">
                            <i class="medium material-icons">description</i>
                            <span class="last-activities-material-type">@favouriteMaterial.Content</span>
                        </div>
                    </div>
                </a>
            }
        }
    </div>

    <div id="test-swipe-2" class="last-activities-wrapper">
        @{
            if (Model.LastActivities.Count == 0)
            {
                <div class="no-content">~ Brak ostatnich aktywności ~</div>
            }
            else
            {
                var activityIcon = string.Empty;

                foreach (var lastActivity in Model.LastActivities)
                {
                    if (lastActivity.Type == LastActivityType.MATERIAL_ADD)
                    {
                        activityIcon = "note_add";
                        lastActivity.Content =
                            $"Użytkownik {lastActivity.Material.Creator.Username} dodał komentarz do materiału \"{lastActivity.Material.Name}\"";
                    }
                    else
                    {
                        activityIcon = "comment";
                    }

                    <a asp-area="Main" asp-controller="Materials" asp-action="Material" asp-route-materialId="@lastActivity.RouteValue">
                        <div class="last-activity-wrapper">
                            <div class="last-activities-date">@lastActivity.When</div>
                            <div class="last-activities-content">
                                <i class="medium material-icons">@activityIcon</i>
                                <span class="last-activities-material-type">@lastActivity.Content</span>
                            </div>
                        </div>
                    </a>
                }
            }
        }
    </div>

    @if (Model.Comments != null)
    {
        <div id="test-swipe-3" class="last-activities-wrapper">
            @if (Model.Comments.Count == 0)
            {
                <div class="no-content">~ Brak komentarzy ~</div>
            }
            else
            {
                @foreach (var comment in Model.Comments)
                {
                    <a asp-area="Main" asp-controller="Materials" asp-action="Material" asp-route-materialId="@comment.RouteValue">
                        <div class="last-activity-wrapper">
                            <div class="last-activities-date">@comment.When</div>
                            <div class="last-activities-content">
                                <i class="medium material-icons">face</i>
                                <span class="last-activities-material-type">@comment.Content</span>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    }
</div>