@model acaShare.MVC.Areas.Moderator.Models.MaterialToApproveViewModel

@section Scripts {
    <script src="~/js/material-images-modal.js"></script>
}

<div class="material-container">
    <header class="material-header">
        <h1 class="material-header-title">
            @Html.DisplayFor(model => model.Name)
        </h1>

        <div class="material-header-action-buttons">
            <a asp-action="ApproveMaterial" asp-route-materialId="@Model.MaterialId" 
                class="sep action-button tooltipped" data-position="top" data-tooltip="Zatwierdź">
                
                <i class="material-icons lh">check</i>
            </a>
            <a asp-action="RejectMaterial" asp-route-materialId="@Model.MaterialId" 
                class="sep action-button tooltipped" data-position="top" data-tooltip="Odrzuć">
                
                <i class="material-icons lh">not_interested</i>
            </a>
        </div>
    </header>

    <div class="material-content">
        <section class="material-content-files">
            <h2 class="material-content-files-header">Pliki</h2>

            <div class="files-wrapper">
                @{
                    int i = 1;
                    foreach (var file in Model.Files)
                    {
                        if (file.IsImage)
                        {
                            <div class="material-file" onclick="openModal();currentSlide(@(i++))">
                                <img src="~/_Uploads/@file.RelativePath" alt="@file.FileName-thumbnail" />
                            </div>
                        }
                        else
                        {
                            <div class="material-file">
                                <i class="material-icons">description</i>
                            </div>
                        }
                    }
                }
            </div>

            <!-- The Modal/Lightbox -->
            <div id="gallery-modal" class="gallery-modal" onclick="closeModalOnBackgroundClick(event)">
                <div id="current-slide-info" class="current-slide-info"></div>
                <span class="close" onclick="closeModal()">&times;</span>
                <div class="modal-content">
                    @foreach (var file in Model.Files)
                    {
                        if (file.IsImage)
                        {
                            <div class="gallery-item">
                                <img src="~/_Uploads/@file.RelativePath" alt="@file.FileName" />
                            </div>
                        }
                    }
                </div>

                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </section>

        <section>
            <h2 class="material-content-description-header">
                @Html.DisplayNameFor(model => model.Description)
            </h2>

            <div class="material-content-description">
                @Html.DisplayFor(model => model.Description)
            </div>
        </section>
    </div>

    <footer class="material-footer">
        <p class="material-footer-content">
            <span>
                @Html.DisplayNameFor(model => model.CreatorUsername): @Html.DisplayFor(model => model.CreatorUsername)
            </span>

            <span>
                @{ var uploadDate = Model.UploadDate.ToString("d MMMM yyyy, HH:mm");}
                @Html.DisplayNameFor(model => model.UploadDate): @Html.DisplayFor(model => uploadDate)
            </span>
        </p>
    </footer>
</div>