@model LessonsListViewModel

<div class="list-container">
    <ul class="aca-collection">
        @{var rowClass = Model.IsWithSubtitles ? "" : "item-small";}

        @foreach (var lesson in @Model.Items)
        {
            <li class="aca-collection-item path-list-item">
                <a asp-controller="Materials" asp-action="Materials" asp-route-lessonId="@lesson.Id" class="item-link @rowClass">
                    <span class="path-list-item-title">@lesson.TitleOrFullName</span>
                    <br>
                    @if (Model.IsWithSubtitles)
                    {
                        <span class="path-list-item-subtitle">@lesson.SubtitleOrAbbreviation</span>
                    }
                </a>

                <div class="icons-row-container list-icon">
                    <i class="material-icons list-icon">send</i>
                </div>
            </li>
        }

        @if (@Model.Items.Count == 0)
        {
            <li class="aca-collection-item path-list-item">
                <p class="empty-list">~ Pusto ~</p>
            </li>
        }
    </ul>
</div>