@using acaShare.MVC.Areas.Main.Models.Materials
@model MaterialsViewModel

<div class="materials-container">
    <div class="list-container">
        <ul class="aca-collection">
            @{var rowClass = Model.IsWithSubtitles ? "" : "item-small";}

            @foreach (var material in @Model.Materials)
            {
                <li class="aca-collection-item path-list-item">
                    <a asp-action="Material" asp-route-materialId="@material.MaterialId" class="item-link @rowClass">
                        <span class="path-list-item-title">@material.Name</span>
                        <br>
                        @if (Model.IsWithSubtitles)
                        {
                            <span class="path-list-item-subtitle">
                                @if (material.Description.Length > 100)
                                {
                                    @material.Description.Substring(0, 100);
                                    @:[...]
                                }
                                else
                                {
                                    @material.Description;
                                }
                            </span>
                        }
                    </a>

                    <div class="icons-row-container list-icon">
                        <i class="material-icons list-icon">send</i>
                    </div>
                </li>
            }
        </ul>
    </div>
    <a asp-action="Add" asp-route-lessonId="@Model.LessonId" class="add-material-button">
        Dodaj materiał
    </a>
</div>
