@model acaShare.MVC.Areas.Main.Models.Materials.MaterialViewModel

@section MaterialViewCSS {
    <link rel="stylesheet" href="~/css/material.css">
}

<div class="material-container">
    <header>
        <h1 class="material-header">
            @Html.DisplayFor(model => model.Name)
        </h1>
    </header>
    
    <section class="material-files">
        <h2 class="material-files-header">
            Files
        </h2>

        file1, file2...
    </section>

    <section class="material-description">
        <h2 class="material-description-header">
            @Html.DisplayNameFor(model => model.Description)
        </h2>
        
        @Html.DisplayFor(model => model.Description)
    </section>
    
    <footer class="material-footer">
        <dl class="material-footer-content">
            <dt>
                @Html.DisplayNameFor(model => model.UploadDate):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UploadDate)
            </dd>
             | 
            <dt>
                @Html.DisplayNameFor(model => model.ModificationDate):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModificationDate)
            </dd>
             | 
            <dt>
                Zmodyfikowany przez:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Updater.Username)
            </dd>
             | 
            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>
        </dl>
    </footer>
</div>