@model ICollection<EditRequestViewModel>

<div class="list-view-wrapper">
    <div class="list-container">
        <ul class="aca-collection">
            @foreach (var editRequest in Model)
            {
                <li class="aca-collection-item path-list-item">
                    <a asp-action="EditRequestApprovalDecision" asp-route-editRequestId="@editRequest.EditRequestId" class="item-link">
                        <span class="path-list-item-title">@editRequest.MaterialName</span>
                        <br>
                        <span class="path-list-item-subtitle">
                            @if (editRequest.Summary.Length > 100)
                            {
                                @editRequest.Summary.Substring(0, 100);
                                @:[...]
                            }
                            else
                            {
                                @editRequest.Summary;
                            }
                        </span>
                    </a>

                    <div class="icons-row-container">
                        <a asp-action="ApproveEditRequest" asp-route-editRequestId="@editRequest.EditRequestId">
                            <i class="material-icons list-icon icon-edit tooltipped" data-position="top" data-tooltip="Zatwierdź sugestię">check</i>
                        </a>
                        <a asp-action="DeclineEditRequest" asp-route-editRequestId="@editRequest.EditRequestId">
                            <i class="material-icons list-icon icon-delete tooltipped" data-position="top" data-tooltip="Odrzuć sugestię">not_interested</i>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>