@model ICollection<acaShare.BLL.Models.Statistics>

<div class="list-view-wrapper">
    <div class="list-container">
        <ul class="aca-collection">
            @foreach (var statistics in Model)
            {
                <li class="aca-collection-item path-list-item">
                    <a asp-action="@statistics.Action" class="item-link">
                        <span class="path-list-item-title">@statistics.Name</span>
                        <br>
                        <span class="path-list-item-subtitle">
                            @if (statistics.Description?.Length > 100)
                            {
                                @statistics.Description.Substring(0, 100);
                                @:[...]
                            }
                            else
                            {
                                @statistics.Description;
                            }
                        </span>
                    </a>
                </li>
            }

            @if (@Model.Count == 0)
            {
                <li class="aca-collection-item path-list-item">
                    <p class="empty-list">~ Pusto ~</p>
                </li>
            }
        </ul>
    </div>
</div>