@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row home-container">
    <div class="col s12 m8 l9 home-part">
        <div class="data-container">
            <nav class="colornav">
                <div class="nav-wrapper path-header-wrapper">
                    <div class="col s12 tree-path">
                        @if (ViewBag.IsRoot != null && ViewBag.IsRoot == true)
                        {
                            <a asp-controller="List" asp-action="AvailableUniversities" class="breadcrumb">Uczelnie</a>
                        }

                        @if (ViewBag.Breadcrumbs != null)
                        {
                            @foreach (var breadcrumb in ViewBag.Breadcrumbs)
                            {
                                <a asp-controller="@(breadcrumb.Controller)"
                                   asp-action="@breadcrumb.Action"
                                   asp-all-route-data="@breadcrumb.Params"
                                   class="breadcrumb">
                                    @breadcrumb.Title
                                </a>
                            }
                        }
                    </div>
                </div>
            </nav>

            <div class="home-content">
                @RenderBody()
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("Sidebar")
</div>