@model ListViewModel<UniversityViewModel>

<div class="list-view-wrapper">
    <div class="list-container">
        <ul class="aca-collection">
            @{var rowClass = Model.IsWithSubtitles ? "" : "item-small";}

            @foreach (var university in @Model.Items)
            {
                <li class="aca-collection-item path-list-item">
                    <a asp-controller="DepartmentsManagement" asp-action="Departments" asp-route-universityId="@university.Id" class="item-link @rowClass">
                        <span class="path-list-item-title">@university.TitleOrFullName</span>
                        <br>
                        @if (Model.IsWithSubtitles)
                        {
                            <span class="path-list-item-subtitle">@university.SubtitleOrAbbreviation</span>
                        }
                    </a>

                    @if (User.IsInRole(Roles.AdministratorRole))
                    {
                        <div class="icons-row-container">
                            <a asp-action="Edit" asp-route-universityId="@university.Id" class="tooltipped" data-position="top" data-tooltip="Edytuj">
                                <i class="material-icons list-icon icon-edit">edit</i>
                            </a>
                            <a asp-action="Delete" asp-route-universityId="@university.Id" class="tooltipped" data-position="top" data-tooltip="Usuń">
                                <i class="material-icons list-icon icon-delete tooltipped" data-position="top" data-tooltip="Odrzuć sugestię">delete</i>
                            </a>
                        </div>
                    }
                </li>
            }

            @if (@Model.Items.Count == 0)
            {
                <li class="aca-collection-item path-list-item">
                    <p class="empty-list">~ Pusto ~</p>
                </li>
            }
        </ul>
    </div>
    @if (User.IsInRole(Roles.AdministratorRole))
    {
        <a asp-action="Add" class="add-button">
            Dodaj
        </a>
    }
</div>