@using Microsoft.AspNetCore.Identity
@using acaShare.MVC.Models
@model ModeratorManagementViewModel

@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Zarządzanie Moderatorami";
    var currentUser = await userManager.GetUserAsync(User);
    var isAdmin = currentUser != null && await userManager.IsInRoleAsync(currentUser, Roles.AdministratorRole);

<div class="moderator-management-wrapper">
    <div class="legend">
        <img src="~/images/cross.png" /> - Degraduj &emsp;
        <img src="~/images/one-arrow-up.png" /> - Awansuj na moderatora &emsp;
        @if (isAdmin)
        {<img src="~/images/two-arrows-up.png" /> <div class="legend"> - Awansuj na moderatora głównego</div>}
    </div>

    @if (isAdmin)
    {

    <h4 class="title">Administratorzy</h4>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.Email)</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        @foreach (var user in Model.Administrators)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>

    <h4 class="title">Główni Moderatorzy</h4>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.Email)</th>
                <th></th>
                <th></th>
                <th>Opcje</th>
            </tr>
        </thead>

        @foreach (var user in Model.MainModerators)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td></td>
                <td></td>
                <td>
                    <img style="visibility: hidden;" src="~/images/one-arrow-up.png" />
                    <img style="visibility: hidden;" src="~/images/two-arrows-up.png" />
                    <a href="@Url.Action("DemoteToMember", "ModeratorManagement", new { userId = user.Id })">
                        <img src="~/images/cross.png" />
                    </a>
                </td>
            </tr>
        }
    </table>
    }

    <h4 class="title">Moderatorzy</h4>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.Email)</th>
                <th></th>
                <th></th>
                <th>Opcje</th>
            </tr>
        </thead>

        @foreach (var user in Model.Moderators)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td></td>
                <td></td>
                <td>
                    <img style="visibility: hidden;" src="~/images/one-arrow-up.png" />
                    @if (isAdmin)
                    {
                        <a href="@Url.Action("PromoteToMainModerator", "ModeratorManagement", new { userId = user.Id })">
                            <img src="~/images/two-arrows-up.png" />
                        </a>
                    }
                    <a href="@Url.Action("DemoteToMember", "ModeratorManagement", new { userId = user.Id })">
                        <img src="~/images/cross.png" />
                    </a>
                </td>
            </tr>
        }
    </table>

    <h4 class="title">Użytkownicy</h4>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.Email)</th>
                <th></th>
                <th></th>
                <th>Opcje</th>
            </tr>
        </thead>

        @foreach (var user in Model.Members)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td></td>
                <td></td>
                <td>
                    <a href="@Url.Action("PromoteToModerator", "ModeratorManagement", new { userId = user.Id })">
                        <img src="~/images/one-arrow-up.png" />
                    </a>
                    @if (isAdmin)
                    {
                        <a href="@Url.Action("PromoteToMainModerator", "ModeratorManagement", new { userId = user.Id })">
                            <img src="~/images/two-arrows-up.png" />
                        </a>
                    }
                    <img style="visibility: hidden;" src="~/images/cross.png" />
                </td>
            </tr>
        }
    </table>
</div>
}
