@using Microsoft.AspNetCore.Identity
@using acaShare.MVC.Models
@model ModeratorManagementViewModel

@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Zarządzanie Moderatorami";
    var currentUser = await userManager.GetUserAsync(User);
    var isAdmin = currentUser != null && await userManager.IsInRoleAsync(currentUser, Roles.AdministratorRole);

<div class="moderator-management-wrapper">
    @if (isAdmin)
    {

    <h4 class="title">Administratorzy</h4>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.Email)</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var user in Model.Administrators)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td></td>
            </tr>
        }
    </table>

    <h4 class="title">Główni Moderatorzy</h4>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.Email)</th>
                <th>Uczelnia</th>
                <th>Opcje</th>
            </tr>
        </thead>

        @foreach (var user in Model.MainModerators)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <form asp-action="AssignModeratorToUniversity" method="post">
                            <select asp-for="UniversityId"
                                    asp-items="@(new SelectList(Model.Universities, "UniversityId", "Name"))"
                                    id="@user.Id">
                                <option value="0">Wybierz Uczelnię...</option>
                            </select>
                            <input name="userId"  asp-for="@user.Id" type="hidden" />
                            <button class="add-button" type="submit">Wybierz Uczelnię</button>
                    </form>
                </td>
                <td>
                    <img style="visibility: hidden;" src="~/images/one-arrow-up.png" />
                    <img style="visibility: hidden;" src="~/images/two-arrows-up.png" />
                    <a href="@Url.Action("DemoteToMember", "ModeratorManagement", new { userId = user.Id })">
                        <img src="~/images/cross.png" class="tooltipped" data-position="top" data-tooltip="Degraduj"/>
                    </a>
                </td>
            </tr>
        }
    </table>

    @section ModeratorManagementScripts {
    <script type="text/javascript">
        @foreach(var umm in Model.UniversitiesMainModeratorsWithIdentityId)
        {
            @:document.getElementById('@umm.IdentityId').value = @umm.UniversityId;
        }
    </script>
    }

    }
    <h4 class="title">Moderatorzy</h4>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.Email)</th>
                <th>Opcje</th>
            </tr>
        </thead>

        @foreach (var user in Model.Moderators)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <img style="visibility: hidden;" src="~/images/one-arrow-up.png" />
                    @if (isAdmin)
                    {
                        <a href="@Url.Action("PromoteToMainModerator", "ModeratorManagement", new { userId = user.Id })">
                            <img src="~/images/two-arrows-up.png" class="tooltipped" data-position="top" data-tooltip="Awansuj na moderatora głównego"/>
                        </a>
                    }
                    <a href="@Url.Action("DemoteToMember", "ModeratorManagement", new { userId = user.Id })">
                        <img src="~/images/cross.png" class="tooltipped" data-position="top" data-tooltip="Degraduj"/>
                    </a>
                </td>
            </tr>
        }
    </table>

    <h4 class="title">Użytkownicy</h4>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.DefaultUser.Email)</th>
                <th>Opcje</th>
            </tr>
        </thead>

        @foreach (var user in Model.Members)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a href="@Url.Action("PromoteToModerator", "ModeratorManagement", new { userId = user.Id })">
                        <img src="~/images/one-arrow-up.png" class="tooltipped" data-position="top" data-tooltip="Awansuj na moderatora" />
                    </a>
                    @if (isAdmin)
                    {
                        <a href="@Url.Action("PromoteToMainModerator", "ModeratorManagement", new { userId = user.Id })">
                            <img src="~/images/two-arrows-up.png" class="tooltipped" data-position="top" data-tooltip="Awansuj na moderatora głównego"/>
                        </a>
                    }
                    <img style="visibility: hidden;" src="~/images/cross.png" />
                </td>
            </tr>
        }
    </table>
</div>
}
