@model ListViewModel<UniversityViewModel>

<div class="list-container">
    <ul class="aca-collection">
        @{var rowClass = Model.IsWithSubtitles ? "" : "item-small";}

        @foreach (var university in @Model.Items)
        {
            <li class="aca-collection-item path-list-item">
                <a asp-action="Departments" asp-route-universityId="@university.Id" class="item-link @rowClass">
                    <span class="path-list-item-title">@university.TitleOrFullName</span>
                    <br>
                    @if (Model.IsWithSubtitles)
                    {
                        <span class="path-list-item-subtitle">@university.SubtitleOrAbbreviation</span>
                    }
                </a>

                <div class="icons-row-container">
                    <i class="material-icons list-icon">send</i>
                </div>
            </li>
        }
    </ul>
</div>
