@model ListViewModel<SubjectDepartmentViewModel>


<div class="list-view-wrapper">
    <div class="list-container">
        <ul class="aca-collection">
            @{var rowClass = Model.IsWithSubtitles ? "" : "item-small";}

            @foreach (var subjectDepartment in @Model.Items)
            {
                var parms = new Dictionary<string, string>
                {
                    { "semesterId", subjectDepartment.SemesterId.ToString() },
                    { "subjectDepartmentId", subjectDepartment.Id.ToString() }
                };

                <li class="aca-collection-item path-list-item">
                    <a asp-controller="LessonsManagement" asp-action="Lessons" asp-all-route-data="@parms" class="item-link @rowClass">
                        <span class="path-list-item-title">@subjectDepartment.TitleOrFullName</span>
                        <br>
                        @if (Model.IsWithSubtitles)
                        {
                            <span class="path-list-item-subtitle">@subjectDepartment.SubtitleOrAbbreviation</span>
                        }
                    </a>

                    <div class="icons-row-container">
                        <a asp-action="Edit" asp-route-subjectId="@subjectDepartment.Id">
                            <i class="material-icons list-icon icon-edit">edit</i>
                        </a>
                        <a asp-action="Delete" asp-route-subjectId="@subjectDepartment.Id">
                            <i class="material-icons list-icon icon-delete">delete</i>
                        </a>
                    </div>
                </li>
            }

            @if (@Model.Items.Count == 0)
            {
                <li class="aca-collection-item path-list-item">
                    <p class="empty-list">~ Pusto ~</p>
                </li>
            }
        </ul>
    </div>
    <a asp-action="Add" asp-route-departmentId="@Model.HelperId" class="add-button">
        Dodaj
    </a>
</div>