@model ListViewModel<DepartmentViewModel>

<div class="list-view-wrapper">
    <div class="list-container">
        <ul class="aca-collection">
            @{var rowClass = Model.IsWithSubtitles ? "" : "item-small";}

            @foreach (var department in @Model.Items)
            {
                <li class="aca-collection-item path-list-item">
                    <a asp-controller="SemestersManagement" asp-action="Semesters" asp-route-departmentId="@department.Id" class="item-link @rowClass">
                        <span class="path-list-item-title">@department.TitleOrFullName</span>
                        <br>
                        @if (Model.IsWithSubtitles)
                        {
                            <span class="path-list-item-subtitle">@department.SubtitleOrAbbreviation</span>
                        }
                    </a>

                    <div class="icons-row-container">
                        <a asp-action="Edit" asp-route-departmentId="@department.Id">
                            <i class="material-icons list-icon icon-edit">edit</i>
                        </a>
                        <a asp-action="Delete" asp-route-departmentId="@department.Id">
                            <i class="material-icons list-icon icon-delete">delete</i>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
    <a asp-action="Add" asp-route-universityId="@Model.HelperId" class="add-button">
        Dodaj
    </a>
</div>

@*<a asp-action="Add" asp-route-universityId="@Model.Items.ToList()[0].UniversityId" class="add-button">*@